.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.italic {
    font-style: italic;
}

button, select {
    color: black;
    background-color: white;
    border-radius: 3px;
}

body {
    Background-color: teal;
    font-family: sans-serif;
}

.flex {
    display: flex;
}

div.container {
    display: flex;
}

#sidebar {
    margin-right: 5px;
}

#sidebar .section {
    margin-bottom: 8px;
}

#sidebar .section > div {
    margin-top: 5px;
}

#sidebar .header {
    font-weight: bold;
}

#sidebar .encounter {
    width: 100%;
}

#encounter {
    width: 100%;
}

.round {
    padding: 3px;
    border-radius: 5px;
    background-color: #f93;
}

.next-round {
    display: inline-block;
    margin-left: 10px;
}

.undo-redo {
    display: inline-block;
    margin-left: 20px;
}

button.undo {
    margin-right: 10px;
}

div.pc {
    background-color: #ccc;
    padding: 3px;
    margin-top: 3px;
}

div.creature {
    position: relative;
    background-color: #ccc;
    padding: 5px;
    margin: 5px 5px 5px 25px;
    border-radius: 5px;
    min-height: 22px;
}

div.creature span {
    padding: 3px;
}

.ouch {
    background-color: #c60;
    color: #fff;
    border-radius: 3px;
    padding: 3px;
}

.flee {
    background-color: yellow;
    border-radius: 3px;
    padding: 3px;
}

div.name {
    width: 40%;
}

div.active {
    background-color: cyan;
    right: 20px;
}

div.disabled .name {
    text-decoration: line-through grey double;
    color: grey;
}

div.held {
    right: 10px;
}

div.creature span {
    margin-left: 3px;
}

.creature-controls {
    position: absolute;
    top: 5px;
    right: 5px;
}

.ready-delay {
    display: inline;
}

.conditions {
    display: inline;
}

.condition {
    display: inline-block;
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
    background-color: #f93;
    font-weight: bold;
}

.active-conditions {
    padding-top: 5px;
}

.bold {
    font-weight: bold;
}

div.counter-pane {
    position: fixed;
    background-color: #0cc;
    border: 2px solid black;
    border-radius: 3px;
    padding: 1px;
    z-index: 100;
}

.hidden {
    display: none;
} 

.creature.hide-from-players .show-hide {
    text-decoration: line-through black double;
}

.player-view .round,
.player-view .controls,
.player-view .monster.hide-from-players,
.player-view .monster .name,
.player-view .creature .init-mod,
.player-view .creature .init,
.player-view .creature button,
.player-view .creature-controls,
.player-view .hp,
.player-view .ready-delay,
.player-view .conditions select,
.player-view .active-conditions .italic
{
    display: none;
}
